.App {
  overflow: clip;
  text-align: center;
}

.application-wrap{
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.app-header{
  width: 100%;
  background: #FDFFFE;
  position: fixed;
  top:0;
  z-index: 99;
  height: 66px;
  display: flex;
}

.flex-bar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.list-fixed{
  width: 80px;
  text-align: center;
  right: 0;
  position: fixed;
  z-index: 999;
  color: #FDFFFE;
  background: #43596F;
  height: 100vh;
  box-shadow: 0 3px 4px 0 rgba(0,0,0, .25);
}

.main-app-container{
  background: aquamarine;
}

.main-app-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.flexbox-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
}

.main-app-leftSlice{
  margin-top: 66px;
  margin-left: 0;
  background: #cdff9e;
}

.main-app-rightSlice{
  margin-top: 66px;
  margin-right: 80px;
  width: 50vw;
  background: #ffd69e;
}

.boldWin{
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  height: 100%;
  background: #43596F;
}