.App {
  overflow: auto;
  text-align: center;
}

.application-wrap{
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.app-header{
  width: 100%;
  background: #FDFFFE;
  position: fixed;
  top:0;
  z-index: 99;
  height: 66px;
  display: flex;
}

.flex-bar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*----------Sidebar*/

.list-fixed{
  width: 80px;
  text-align: center;
  right: 0;
  position: fixed;
  z-index: 999;
  color: #FDFFFE;
  background: #43596F;
  height: 100vh;
  box-shadow: 0 3px 4px 0 rgba(0,0,0, .25);
}
.container{
  display: grid;
  grid-template-rows: auto auto;
}

.subway--menu {
  margin: 50px 0 50px 20%;
  display: inline-block;
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M186.2 139.6h139.6V0H186.2zM372.4 0v139.6H512V0zM0 139.6h139.6V0H0zm186.2 186.2h139.6V186.2H186.2zm186.2 0H512V186.2H372.4zM0 325.8h139.6V186.2H0zM186.2 512h139.6V372.4H186.2zm186.2 0H512V372.4H372.4zM0 512h139.6V372.4H0z'/%3E%3C/svg%3E");
}

.subway--menu:hover{
  transform: scale(1.05);
}

.fluent--wallet-48-filled {
  display: inline-block;
  margin: 0 0 31px 13%;
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='white' d='M6 10v25.75A6.25 6.25 0 0 0 12.25 42h24.5A6.25 6.25 0 0 0 43 35.75v-17.5a6.25 6.25 0 0 0-5-6.125V10.25A4.25 4.25 0 0 0 33.75 6h-23.5a4.25 4.25 0 0 0-4.243 4zm29.5.25V12H10.25a1.75 1.75 0 1 1 0-3.5h23.5c.967 0 1.75.784 1.75 1.75M32.25 26h4.5a1.25 1.25 0 1 1 0 2.5h-4.5a1.25 1.25 0 1 1 0-2.5'/%3E%3C/svg%3E");
}

.fluent--wallet-48-filled:hover{
  transform: scale(1.05);
}

.list-hr{
  border: 2px solid #FDFFFE;
}

.f7--calendar {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin: 28px 0 31px 16%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='white' d='M11.992 49.574h32.016c4.899 0 7.36-2.437 7.36-7.265V13.69c0-4.828-2.461-7.265-7.36-7.265H11.992c-4.875 0-7.36 2.414-7.36 7.265v28.62c0 4.851 2.485 7.265 7.36 7.265m-.328-3.773c-2.086 0-3.258-1.102-3.258-3.282V20.419c0-2.156 1.172-3.281 3.258-3.281h32.649c2.085 0 3.28 1.125 3.28 3.281V42.52c0 2.18-1.195 3.28-3.28 3.28Zm11.742-20.25h1.383c.82 0 1.102-.235 1.102-1.055v-1.383c0-.82-.281-1.078-1.102-1.078h-1.383c-.82 0-1.078.258-1.078 1.078v1.383c0 .82.258 1.055 1.078 1.055m7.805 0h1.36c.843 0 1.101-.235 1.101-1.055v-1.383c0-.82-.258-1.078-1.102-1.078h-1.359c-.82 0-1.101.258-1.101 1.078v1.383c0 .82.28 1.055 1.101 1.055m7.781 0h1.383c.82 0 1.102-.235 1.102-1.055v-1.383c0-.82-.282-1.078-1.102-1.078h-1.383c-.82 0-1.101.258-1.101 1.078v1.383c0 .82.281 1.055 1.101 1.055m-23.367 7.664h1.383c.82 0 1.102-.235 1.102-1.055v-1.383c0-.82-.282-1.054-1.102-1.054h-1.383c-.82 0-1.101.234-1.101 1.054v1.383c0 .82.28 1.055 1.101 1.055m7.781 0h1.383c.82 0 1.102-.235 1.102-1.055v-1.383c0-.82-.281-1.054-1.102-1.054h-1.383c-.82 0-1.078.234-1.078 1.054v1.383c0 .82.258 1.055 1.078 1.055m7.805 0h1.36c.843 0 1.101-.235 1.101-1.055v-1.383c0-.82-.258-1.054-1.102-1.054h-1.359c-.82 0-1.101.234-1.101 1.054v1.383c0 .82.28 1.055 1.101 1.055m7.781 0h1.383c.82 0 1.102-.235 1.102-1.055v-1.383c0-.82-.282-1.054-1.102-1.054h-1.383c-.82 0-1.101.234-1.101 1.054v1.383c0 .82.281 1.055 1.101 1.055m-23.367 7.687h1.383c.82 0 1.102-.258 1.102-1.078v-1.383c0-.82-.282-1.054-1.102-1.054h-1.383c-.82 0-1.101.234-1.101 1.054v1.383c0 .82.28 1.078 1.101 1.078m7.781 0h1.383c.82 0 1.102-.258 1.102-1.078v-1.383c0-.82-.281-1.054-1.102-1.054h-1.383c-.82 0-1.078.234-1.078 1.054v1.383c0 .82.258 1.078 1.078 1.078m7.805 0h1.36c.843 0 1.101-.258 1.101-1.078v-1.383c0-.82-.258-1.054-1.102-1.054h-1.359c-.82 0-1.101.234-1.101 1.054v1.383c0 .82.28 1.078 1.101 1.078'/%3E%3C/svg%3E");
}

.f7--calendar:hover{
  transform: scale(1.05);
}

.ooui--search {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 0 31px 20%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M12.2 13.6a7 7 0 1 1 1.4-1.4l5.4 5.4l-1.4 1.4zM3 8a5 5 0 1 0 10 0A5 5 0 0 0 3 8'/%3E%3C/svg%3E");
}

.ooui--search:hover{
  transform: scale(1.05);
}

/*----------Sidebar END*/

.main-app-container{
  background: aquamarine;
}

.main-app-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.flexbox-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
}

.main-app-leftSlice{
  margin-top: 66px;
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Создаем 2 равные строки */
  gap: 20px; /* Расстояние между строками */
  padding: 10px; /* Отступы внутри контейнера */
}

.main-app-rightSlice{
  margin-top: 66px;
  margin-right: 80px;
  width: 50vw;
  background: #ffd69e;
}

.boldWin{
  margin-top: 5%;
  margin-left: 10%;
  height: 345px;
}

.win{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  border-radius: 45px;
  background: #43596F;
  color: #fdfffe;
}

/*OPERATION MENU/LIST OR ETC BLYAT */

.listbox{
  background: #43596F;
  width: 85%;
  height: 80vh;
  margin: auto;
  h1{color: #FDFFFE}
  border-radius: 45px;
}

.operation-list {
  width: 100%;
  height: 85%;
  background: violet;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.day-section{
  width: 100%;
  height: auto;
  background: #42586e;
  margin:1% 0;
  margin-left: 3%;
}

#Menu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(+100vw, 0, 0);

  width: 100vw;
  height: 100vh;
}