.App {
  text-align: center;
}

.application-wrap{
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.app-header{
  width: 100%;
  background: #FDFFFE;
  position: fixed;
  top:0;
  z-index: 99;
  height: 66px;
  display: flex;
}

.list-fixed{
  width: 80px;
  text-align: center;
  right: 0;
  position: fixed;
  z-index: 999;
  color: #FDFFFE;
  background: #43596F;
  height: 100vh;
  box-shadow: 0 3px 4px 0 rgba(0,0,0, .25);
}