header{
    display: flex;
    background-color: #42586e;
    width: 100%;
    height: 5dvw;
}

.calendarMonth{
    display: flex;
    color: #fdfffe;
    margin-left: 49dvw;
}

.calendarBack{
    display: flex;
    color: #fdfffe;
    margin-left: auto;
}

.calendarBack:hover{
    cursor: e-resize;
    animation: tilt-n-move-shaking 1.55s;
}

.centerforcenter{
    align-self: center;
}

.fa--arrow-right {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1472 1600'%3E%3Cg transform='translate(1472 0) scale(-1 1)'%3E%3Cpath fill='white' d='M1472 736v128q0 53-32.5 90.5T1355 992H651l293 294q38 36 38 90t-38 90l-75 76q-37 37-90 37q-52 0-91-37L37 890Q0 853 0 800q0-52 37-91L688 59q38-38 91-38q52 0 90 38l75 74q38 38 38 91t-38 91L651 608h704q52 0 84.5 37.5T1472 736'/%3E%3C/g%3E%3C/svg%3E");
    align-self: center;
    margin-right: 5dvw;
    margin-left: 1dvw;
}

.calendarWrap{
    margin: 0 auto;
    background-color: #fdfffe;
    width: 85dvw;
    height: 80dvh;
}

.calendarHeader{
    margin: 0 auto;
    display: flex;
    height: 10dvh;
    width: 95%;
    background-color: #fdfffe;
    align-items: center;
    justify-content: space-between;
}

.calendarHeader-day {
    text-align: center;
    width: 14.28%; /* 100% / 7 days */
}

.calendarContent {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px; /* Adjust spacing between days */
    padding: 10px;
    background-color: #42586e;
    height: 85%;
}

.calendarDay {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    color: #000;
    font-size: 24px;
    font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
}

.calendarDay.sunday {
    color: #FF0000;
}

.calendarDay-date {
    position: relative;
    font-size: 25px;
    font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    left: 1.0004%;
    top: 60.4866%;
    text-align: left;
}

.calendarDay-sum {
    color: #4d9be6;
    font-size: 24px;
    font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    position: relative;
    text-align: right;
    white-space: nowrap;
    left: 25%;
}

.negative-sum {
    color: red;
}

.calendarDay.empty {
    background-color: transparent;
}

.calendarDay-holder {
    width: 100%;
    height: 100%;
}

/*ANIMATIONS!!!*/

@keyframes tilt-n-move-shaking {
    100% { transform: translate(0, 0) rotate(0deg); }
    60% { transform: translate(5px, 5px) rotate(5deg); }
    30% { transform: translate(-5px, 5px) rotate(-5deg); }
    0% { transform: translate(0, 0) rotate(0deg); }
}